@import "tailwindcss";

* {
    font-family: outfit;
    scroll-behavior: smooth;
}


body {
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

.anchor:hover{
  color: rgba(0, 0, 0, 0.709);
}

.anchor::after{
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  border-bottom: 2px solid #5bacf6;
  transition: 0.2s ease;
}

.anchor:hover::after{
  width: 95%;
}

.pandor{
  animation: pandor 1.2s linear;
}

.logo{
  animation: logo 1.4s ease;
}

.fadeIn{
  animation: fadeIn 0.8s linear;
}

@keyframes pandor {
  0%{
    transform: translateY(-100px);
  }
  100%{
    transform: translateY(0px);
  }
}


@keyframes logo {
  0%{
    transform: translateX(-100px);
  }
  100%{
    transform: translateX(0px);
  }
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}