@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
    font-family: outfit;
    scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

.no-scroll{
  overflow: hidden;
}

a{
  text-decoration: none;
}

.anchor:hover{
  opacity: 0.8;
}

.anchor::after{
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  border-bottom: 2px solid #5bacf6;
  transition: 0.2s ease;
}

.dark .anchor::after{
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  border-bottom: 2px solid hsl(41, 95%, 50%);
  transition: 0.2s ease;
}

.anchor:hover::after{
  width: 95%;
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pandor{
  animation: pandor 1.2s linear;
}

.logo{
  animation: logo 1.4s ease;
}

.fadeIn{
  animation: fadeIn 0.8s linear;
}

.moon:hover{
  animation: fadeIn 0.8s linear;
}

@keyframes pandor {
  0%{
    transform: translateY(-100px);
  }
  100%{
    transform: translateY(0px);
  }
}


@keyframes logo {
  0%{
    transform: translateX(-100px);
  }
  100%{
    transform: translateX(0px);
  }
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}